workflows/YT_Shorts_Pilot_v0_4.json
{
  "name": "YT Shorts Pilot v0.4 (full autonomy: GPT scenario -> render -> publish)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        },
        "timezone": "Europe/Berlin",
        "triggerAtStartup": false
      },
      "id": "cron-0900-daily",
      "name": "Schedule 09:00 Berlin daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yt-pilot-v04-now",
        "options": {}
      },
      "id": "webhook-manual-v04",
      "name": "Webhook manual v04",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        500
      ],
      "webhookId": "yt-pilot-v04-manual"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_GENESIS_URL}}/rest/v1/topics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.queued"
            },
            {
              "name": "order",
              "value": "priority.desc.nullslast,hype_score.desc.nullslast,discovered_at.asc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\":\"drafting\"}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "supabase-topic",
      "name": "Supabase: claim_next_topic (L1 atomic)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "z9KfDddxStUBbK3E",
          "name": "Supabase Genesis apikey (fixed 2026-05-24)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n splits array response into items, normalize\nlet rows = $input.all().map(x => x.json);\nif (rows.length === 1 && Array.isArray(rows[0])) rows = rows[0];\nconst topic = rows.find(r => r && r.slug_en) || null;\nif (!topic) {\n  return [{ json: { empty: true, today: new Date().toISOString().slice(0,10) } }];\n}\nreturn [{ json: { ...topic, today: new Date().toISOString().slice(0,10) } }];"
      },
      "id": "normalize-topic",
      "name": "Normalize topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-no-topic",
      "name": "No topic in queue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_TARGET_CHAT}}",
        "text": "={{ 'YT Pilot v0.4: no queued topics for ' + $json.today + '. Module A (G_A_topic_distiller) should have populated the queue — check.' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "tg-no-topic",
      "name": "TG no topic",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        250
      ],
      "webhookId": "v04-no-topic",
      "credentials": {
        "telegramApi": {
          "id": "EzJMJSDlKUPFpG4t",
          "name": "Telegram Mein_erste_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  temperature: 0.7,\n  max_tokens: 4000,\n  response_format: {type: 'json_object'},\n  messages: [\n    {role: 'system', content: ($json.sys || \"Ты — Denis Shokhirev, Enterprise AI архитектор из Erlangen, Германия. Канал @ger_dennis_ai (DennisCraft AI Studio). Аудитория: разработчики, AI-инженеры, техлиды, founders в DACH/RU. Тон: прямой, практичный, конкретные числа, без воды, без хайпа. БЕЗ фраз \\\"крайне важно\\\", \\\"это переломный момент\\\", \\\"погружаемся\\\", \\\"революция\\\", \\\"переворот\\\".\\n\\nТвоя задача: сгенерировать scenario.json для YouTube Short (45 секунд, 7 сегментов, формат SHORT_LAYOUT v2).\\n\\nКРИТИЧНО: верни ТОЛЬКО валидный JSON, без markdown обёрток, без комментариев.\\n\\nСТРУКТУРА:\\n{\\n  \\\"title\\\": \\\"<title_ru>\\\",\\n  \\\"publish_date\\\": \\\"<YYYY-MM-DD сегодня>\\\",\\n  \\\"slug\\\": \\\"R<NNNN>_<slug_en_underscore>\\\",\\n  \\\"format\\\": \\\"short\\\",\\n  \\\"lang\\\": \\\"ru\\\",\\n  \\\"total_duration_target\\\": 45.0,\\n  \\\"header_tag\\\": \\\"> <KEYWORD>.<kebab>\\\",\\n  \\\"segments\\\": [\\n    // 1. HOOK (id=1, duration=5.0, start=0.0, act='hook')\\n    //    voice_text: 2 фразы 12-18 слов, hook-вопрос или провокация\\n    //    visual_type: 'hook_layered'\\n    //    visual_params: {header_tag, shadow_text (2 слова UPPERCASE \\\\n, 4-9 букв), punch_word (1-2 слова с числом/провокацией), punch_color (yellow|red|blue|green), small_caption (3-6 слов), bottom_title (1-2 слова UPPERCASE)}\\n    //    bottom_subtitle: 1-3 слова UPPERCASE punch\\n    \\n    // 2-6. BODY (duration=6-7s, start=5/12/19/26/33, act='body')\\n    //    voice_text: 2-3 фразы 18-25 слов\\n    //    visual_type: ОБЯЗАТЕЛЬНО 3+ разных типа из:\\n    //      - numbered_macbook (для code/config/cli) — sections[{number, title UPPERCASE, subtitle 6-10 слов lowercase, code_filename, code_lines:[{text, color: key|string|comment|default}] 5-8 строк, cue_word 1-2 слова, cue_color}]\\n    //      - project_chips (список проектов/features) — title, subtitle, chips[], bottom_lead, bottom_punch\\n    //      - comparison_strikethrough (X vs Y vs Z с зачёркиванием) — eyebrow UPPERCASE 1-2, eyebrow_punch UPPERCASE с :, strikethrough_items[], cue_word, cue_color (yellow|red), bottom_highlight UPPERCASE\\n    //      - diagram_boxes (архитектурный flow [A]→[B]→[C]) — title, subtitle, boxes:[{text, color}], cue_word, cue_color\\n    //    avatar_position в visual_params: чередование top-right → top-left → top-right → off → off → top-right\\n    //    bottom_subtitle: курированный 1-3 слова UPPERCASE punch (НЕ пересказ voice_text!)\\n    \\n    // 7. CTA (id=7, duration=6.0, start=39.0, act='cta')\\n    //    voice_text: \\\"Полный гайд на сайте gerdennisai.com. Подписывайся.\\\"\\n    //    visual_type: 'cta_buttons'\\n    //    visual_params: {avatar_position: 'top-center', lead UPPERCASE вопрос 3-5 слов, button_yes:{text:'✓ <UPPERCASE 2-3>', color:'green'}, button_no:{text:'✗ <UPPERCASE 2-4>', color:'red'}, username:'@ger_dennis_ai', cta:'ПОДПИШИСЬ ↓'}\\n    //    bottom_subtitle: \\\"\\\"\\n  ]\\n}\\n\\nПРАВИЛА:\\n1. Длительности: hook=5с, body=6-7с, cta=6с. ИТОГО 43-45 сек.\\n2. start: накопительно 0.0→5.0→12.0→19.0→26.0→33.0→39.0\\n3. header_tag: > KEYWORD.kebab (CLAUDE.code, AI.agents, VIBE.coding)\\n4. bottom_subtitle ПУНЧ — НЕ пересказ voice_text. Примеры: \\\"$3K В МЕСЯЦ\\\", \\\"ТЫ CTO\\\", \\\"0 СТРОК РУКАМИ\\\", \\\"3 ЧАСА В ПРОДЕ\\\"\\n5. visual_type разнообразие — минимум 3 разных типа за 7 сегментов\\n6. code_lines 5-8 строк реалистичный псевдокод. keys=жёлтые, strings=зелёные, comments=серые\\n7. cue_color: 3-4 разных цвета на видео для контраста\\n8. avatar_position: 3-4 сегмента с avatar, остальные off\\n9. voice_text на ЧИСТОМ русском. English термины можно если читается. \\\"Lovable\\\" → \\\"Лавабл\\\" если плохо произносит ElevenLabs\\n10. NO HYPE: никаких \\\"революция/переворот/изменит мир/крайне важно/погружаемся\\\". Конкретика: числа, имена тулов, реальные пейны.\\n\\nВерни ТОЛЬКО JSON.\")},\n    {role: 'user', content: 'Тема: ' + $json.title_ru + '\\nSlug: ' + $json.slug_en + '\\nHype: ' + ($json.hype_score||'?') + '/100\\nКлючевые тезисы: ' + ($json.notes||'нет') + '\\nКатегория: ' + ($json.topic_category||'?') + '\\n\\nСгенерируй scenario.json по правилам выше.'}\n  ]\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "gpt-scenario",
      "name": "GPT-4o: generate scenario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        550
      ],
      "credentials": {
        "openAiApi": {
          "id": "2rRu9efMYpINfLXN",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI API response: {choices:[{message:{content:'<json>'}}]}\nconst topic = $('Normalize topic').first().json;\nconst raw = $input.first().json;\nlet parsed;\ntry {\n  const content = raw.choices?.[0]?.message?.content;\n  if (!content) return [{ json: { error: 'OpenAI no content', raw_keys: Object.keys(raw) } }];\n  parsed = JSON.parse(content);\n} catch(e) {\n  return [{ json: { error: 'JSON parse fail: ' + e.message, raw: JSON.stringify(raw).slice(0,400) } }];\n}\n// GPT may return in several shapes:\n//   1. {segments: [...], title, ...} — correct\n//   2. {scenario: [...]} — array under scenario key\n//   3. {scenario: {segments: [...], title, ...}} — double-nested\n//   4. [...segments...] — bare array\nlet scenario = null;\nif (Array.isArray(parsed)) {\n  scenario = { segments: parsed };\n} else if (Array.isArray(parsed.scenario)) {\n  scenario = { ...parsed, segments: parsed.scenario };\n  delete scenario.scenario;\n} else if (parsed.scenario && parsed.scenario.segments) {\n  scenario = parsed.scenario;\n} else if (parsed.segments) {\n  scenario = parsed;\n}\nif (!scenario || !Array.isArray(scenario.segments) || scenario.segments.length === 0) {\n  return [{ json: { error: 'no segments in scenario', raw: JSON.stringify(parsed).slice(0,400) } }];\n}\n// Validate segment colors — GPT may return hex instead of color names\nconst validColors = ['yellow','red','blue','green','pink','white'];\nfor (const seg of scenario.segments) {\n  const vp = seg.visual_params || (seg.visual_params = {});\n  if (vp.punch_color && !validColors.includes(vp.punch_color)) vp.punch_color = 'yellow';\n  if (vp.cue_color && !validColors.includes(vp.cue_color)) vp.cue_color = 'blue';\n  if (vp.sections) {\n    for (const sec of vp.sections) {\n      if (sec.cue_color && !validColors.includes(sec.cue_color)) sec.cue_color = 'blue';\n    }\n  }\n}\n// FORCE avatar_position: всегда top-right на ВСЕХ сегментах (включая hook+cta).\n// До 2026-05-06 schedule был ['off','top-right','top-left','top-right','top-left','off','top-center']\n// и аватар \"прыгал\" по позициям + пропадал на hook+seg6 — Денис 05.05 жалоба.\n// Теперь стабильная единая позиция — POS_XY в composer_v2 тоже все смаплены на (730, 200).\nfor (let i = 0; i < scenario.segments.length; i++) {\n  const seg = scenario.segments[i];\n  const vp = seg.visual_params;\n  vp.avatar_position = 'top-right';\n}\nconst today = topic.today;\nscenario.publish_date = today;\nscenario.format = scenario.format || 'short';\nscenario.lang = scenario.lang || 'ru';\nconst slug = scenario.slug || `R${Date.now().toString().slice(-4)}_${(topic.slug_en||'topic').replace(/[^a-zA-Z0-9_]/g,'_')}`;\nscenario.slug = slug;\nreturn [{ json: { topic_id: topic.id, slug, scenario, today } }];"
      },
      "id": "build-scenario-payload",
      "name": "Build scenario payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        550
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-gpt-fail",
      "name": "GPT fail?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        550
      ]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_TARGET_CHAT}}",
        "text": "={{ '<b>YT Pilot v0.4 GPT scenario fail</b>\\n\\n' + $json.error + '\\n\\nRaw: <code>' + JSON.stringify($json.scenario || $json.raw || {}).slice(0, 400) + '</code>' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "tg-gpt-fail",
      "name": "TG GPT fail",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        400
      ],
      "webhookId": "v04-gpt-fail",
      "credentials": {
        "telegramApi": {
          "id": "EzJMJSDlKUPFpG4t",
          "name": "Telegram Mein_erste_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.RECEIVER_BASE_URL}}/scenario/save",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Receiver-Secret",
              "value": "={{$env.RECEIVER_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ slug: $json.slug, scenario: $json.scenario }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "post-scenario-save",
      "name": "POST /scenario/save",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.RECEIVER_BASE_URL}}/render_queued",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Receiver-Secret",
              "value": "={{$env.RECEIVER_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ slug: $('Build scenario payload').first().json.slug, voice_engine: 'elevenlabs' }) }}",
        "options": {
          "timeout": 2400000
        }
      },
      "id": "post-render-queued",
      "name": "POST /render_queued (sync, up to 40 min)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-render-ok",
      "name": "Render ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        700
      ]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_TARGET_CHAT}}",
        "text": "={{ '<b>YT Pilot v0.4 render fail</b>\\n\\nslug=' + $('Build scenario payload').first().json.slug + '\\nerror=' + ($json.error || 'unknown') + '\\nlog=<code>' + ($json.log || 'no log').toString().slice(-300) + '</code>' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "tg-render-fail",
      "name": "TG render fail",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2440,
        850
      ],
      "webhookId": "v04-render-fail",
      "credentials": {
        "telegramApi": {
          "id": "EzJMJSDlKUPFpG4t",
          "name": "Telegram Mein_erste_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build YT upload payload from render result + scenario\nconst render = $input.first().json;\nconst scn = $('Build scenario payload').first().json;\nconst topic = $('Normalize topic').first().json;\nconst title = (render.scenario_title || scn.scenario.title || topic.title_ru || scn.slug).slice(0, 95) + ' #shorts';\nconst authorName = $env.AUTHOR_NAME || 'Author';\nconst authorUrl = $env.AUTHOR_URL || 'https://example.com';\nconst description = `${topic.title_ru}\\n\\n${authorName} · ${authorUrl}\\n\\n#AI #shorts #${(topic.slug_en || '').replace(/-/g,'')}`;\nreturn [{ json: {\n  slug: scn.slug,\n  topic_id: topic.id,\n  mp4_path: render.mp4_path,\n  title: title.slice(0, 100),\n  description,\n  tags: ['AI','shorts',(topic.slug_en || '').slice(0,30)].filter(Boolean),\n  lang: 'ru',\n  privacy: 'public'\n}}];"
      },
      "id": "build-yt-payload",
      "name": "Build YT payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.RECEIVER_BASE_URL}}/youtube/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Receiver-Secret",
              "value": "={{$env.RECEIVER_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ mp4_path: $json.mp4_path, title: $json.title, description: $json.description, tags: $json.tags, lang: $json.lang, privacy: $json.privacy, slug: $json.slug, topic_id: $json.topic_id }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "post-yt-upload",
      "name": "POST /youtube/upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-upload-ok",
      "name": "Upload ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2880,
        600
      ]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_TARGET_CHAT}}",
        "text": "={{ '<b>YT upload FAIL v0.4</b>\\n\\nslug=' + $('Build YT payload').first().json.slug + '\\nexit=' + ($json.exit_code ?? '?') + '\\n<code>' + ($json.log || $json.error || '').toString().slice(-300) + '</code>' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "tg-upload-fail",
      "name": "TG upload fail",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3100,
        750
      ],
      "webhookId": "v04-upload-fail",
      "credentials": {
        "telegramApi": {
          "id": "EzJMJSDlKUPFpG4t",
          "name": "Telegram Mein_erste_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_PUBLIC_CHANNEL_ID, text: 'New YouTube Short!\\n\\n' + $('Build YT payload').first().json.title.replace(' #shorts','') + '\\n\\n' + $json.url, parse_mode: 'HTML' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "tg-channel-post",
      "name": "TG public channel post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_GENESIS_URL}}/rest/v1/yt_published",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ slug: $('Build YT payload').first().json.slug, video_id: $('POST /youtube/upload').first().json.video_id, youtube_url: $('POST /youtube/upload').first().json.url, tg_message_id: ($json.result && $json.result.message_id) || null, privacy: 'public', title: $('Build YT payload').first().json.title, notes: 'Auto-published by YT Shorts Pilot v0.4 (full autonomy: GPT scenario + render + upload)' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "supabase-yt-published",
      "name": "Supabase: insert yt_published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "z9KfDddxStUBbK3E",
          "name": "Supabase Genesis apikey (fixed 2026-05-24)"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_GENESIS_URL}}/rest/v1/topics?id=eq.{{ $('Normalize topic').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'published', published_at: new Date().toISOString(), has_video: true, video_slug: $('Build YT payload').first().json.slug, notes: 'YT: ' + $('POST /youtube/upload').first().json.url }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "supabase-topic-mark",
      "name": "Supabase: mark topic.yt_video_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3540,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "z9KfDddxStUBbK3E",
          "name": "Supabase Genesis apikey (fixed 2026-05-24)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_TARGET_CHAT}}",
        "text": "={{ '<b>YT Pilot v0.4 ZERO-TOUCH DONE</b>\\n\\nslug: ' + $('Build YT payload').first().json.slug + '\\nyoutube: ' + $('POST /youtube/upload').first().json.url + '\\nhype: ' + $('Normalize topic').first().json.hype_score + '\\nrender: ' + $('POST /render_queued (sync, up to 40 min)').first().json.duration_s + 's, upload: ' + $('POST /youtube/upload').first().json.duration_s + 's' }}",
        "additionalFields": {
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        }
      },
      "id": "tg-success",
      "name": "TG success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3760,
        500
      ],
      "webhookId": "v04-success",
      "credentials": {
        "telegramApi": {
          "id": "EzJMJSDlKUPFpG4t",
          "name": "Telegram Mein_erste_bot"
        }
      }
    },
    {
      "id": "440e9896-255a-4c47-8444-0c5591d00f2b",
      "name": "Build IG/FB captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        760
      ],
      "parameters": {
        "jsCode": "// IG/FB captions (PUBLISHING_RULES: IG <=5 хештегов hard cap, FB descriptive <=3)\nconst topic = $('Normalize topic').first().json;\nconst yt = $('Build YT payload').first().json;\nconst titleRu = (topic.title_ru || yt.title || 'AI').replace(/\\s*#shorts\\s*$/i,'').trim();\nconst hook = titleRu.slice(0,120);\nconst cta = 'Работаешь с AI/автоматизацией? Напиши АГЕНТ — пришлю pipeline бесплатно ⬇️';\nconst ig_caption = [hook,'',\n  'Genesis OS делает это автономно: тема → сценарий → рендер → публикация. Без ручного труда.','',\n  cta,'',\n  '#AI #нейросети #автоматизация #ИИ #ContentMachine'].join('\\n');\nconst fb_description = [hook + '.','',\n  'Автономный AI-пайплайн (агенты + n8n) сам генерирует и публикует контент — от выбора темы до рендера видео.','',\n  '#AI #автоматизация'].join('\\n');\nreturn [{ json: { mp4_path: yt.mp4_path, ig_caption, fb_description } }];"
      }
    },
    {
      "id": "3b4383f0-f488-46a9-b674-38d30abb9a67",
      "name": "POST /instagram/upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3340,
        760
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{$env.RECEIVER_BASE_URL}}/instagram/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Receiver-Secret",
              "value": "={{$env.RECEIVER_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ mp4_path: $('Build IG/FB captions').first().json.mp4_path, caption: $('Build IG/FB captions').first().json.ig_caption }) }}",
        "options": {
          "timeout": 360000
        }
      }
    },
    {
      "id": "1c9e3b8a-07c6-47cd-8034-ff600e6ea404",
      "name": "POST /facebook/upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3580,
        760
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{$env.RECEIVER_BASE_URL}}/facebook/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Receiver-Secret",
              "value": "={{$env.RECEIVER_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ mp4_path: $('Build IG/FB captions').first().json.mp4_path, description: $('Build IG/FB captions').first().json.fb_description }) }}",
        "options": {
          "timeout": 180000
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet sys = null;\ntry {\n  const r = await this.helpers.httpRequest({ method: 'GET', url: 'https://raw.githubusercontent.com/DenisShokhirev041279/genesis-content-os/main/prompts/scenario_v2.md', returnFullResponse: false });\n  const md = typeof r === 'string' ? r : (r.body || '');\n  const m = md.match(/## System prompt\\s*```(.*?)```/s);\n  if (m && m[1].trim().length > 200) sys = m[1].trim();\n} catch (e) { sys = null; }\nreturn [{ json: { ...item, sys } }];\n"
      },
      "id": "fetch-scenario-prompt-node",
      "name": "Fetch scenario prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        550
      ]
    }
  ],
  "connections": {
    "Schedule 09:00 Berlin daily": {
      "main": [
        [
          {
            "node": "Supabase: claim_next_topic (L1 atomic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook manual v04": {
      "main": [
        [
          {
            "node": "Supabase: claim_next_topic (L1 atomic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize topic": {
      "main": [
        [
          {
            "node": "No topic in queue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No topic in queue?": {
      "main": [
        [
          {
            "node": "TG no topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch scenario prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o: generate scenario": {
      "main": [
        [
          {
            "node": "Build scenario payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build scenario payload": {
      "main": [
        [
          {
            "node": "GPT fail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT fail?": {
      "main": [
        [
          {
            "node": "TG GPT fail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST /scenario/save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /scenario/save": {
      "main": [
        [
          {
            "node": "POST /render_queued (sync, up to 40 min)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /render_queued (sync, up to 40 min)": {
      "main": [
        [
          {
            "node": "Render ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render ok?": {
      "main": [
        [
          {
            "node": "Build YT payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG render fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build YT payload": {
      "main": [
        [
          {
            "node": "POST /youtube/upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /youtube/upload": {
      "main": [
        [
          {
            "node": "Upload ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload ok?": {
      "main": [
        [
          {
            "node": "TG public channel post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build IG/FB captions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG upload fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG public channel post": {
      "main": [
        [
          {
            "node": "Supabase: insert yt_published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: insert yt_published": {
      "main": [
        [
          {
            "node": "Supabase: mark topic.yt_video_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: mark topic.yt_video_id": {
      "main": [
        [
          {
            "node": "TG success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: claim_next_topic (L1 atomic)": {
      "main": [
        [
          {
            "node": "Normalize topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build IG/FB captions": {
      "main": [
        [
          {
            "node": "POST /instagram/upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /instagram/upload": {
      "main": [
        [
          {
            "node": "POST /facebook/upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch scenario prompt": {
      "main": [
        [
          {
            "node": "GPT-4o: generate scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}